@charset "UTF-8";
/* Variables */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond, serif;
}

body {
  background-image: url("./backgr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7f7;
  color: #333333;
  margin-top: 80px;
  nargin-bottom: 40px;
}
body .text {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #bbcc00;
}

/* Header */
header {
  background-color: #333333;
  color: #f7f7f7;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #bbcc00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

header a {
  color: #f7f7f7;
  margin-left: 20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

nav ul li {
  margin-right: 20px;
  max-width: 150px; /* Максимальна ширина елементу */
  text-align: center;
  display: flex;
  justify-content: center; /* Вирівнювання по горизонталі */
  align-items: center; /* Вирівнювання по вертикалі */
  flex-direction: column; /* Змінюємо напрямок контейнера на колонку */
  height: 100%; /* Щоб елементи займали всю висоту */
}

nav ul li.logout a {
  background-color: #bbcc00;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

nav ul li.logout a:hover {
  background-color: #8c9900;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  color: #333333;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.participant__role {
    font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #bbcc00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-family: Garamond, serif;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: 200px;
}

.buttons a {
  color: #fff;
  text-decoration: none;
}

.buttons:hover {
  background-color: #8c9900;
}

.buttons a:hover {
  color: #000;
}



.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  margin-right: 40px;
  margin-left: 40px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  align-items: center;
  text-align: center;
}
.title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px auto;
  margin-left: 80px;
  margin-right: 80px;
  color: #333333;
  text-align: center;
}
.title .event__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #333333;
}
.title .event__description {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.title .event__time, .title .event__date {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.title .event__role {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px auto;
  margin-left: 80px;
  margin-right: 80px;
  color: #333333;
  text-align: center;
}

.participants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  margin-right: 40px;
  margin-left: 40px;
}
.participants .participant {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
  margin-top: 35px;
  padding: 20px;
  flex-basis: calc(50% - 20px);
}
.participants .participant .participant__name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #333333;
}
.participants .participant .participant__username, .participants .participant .participant__status {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.participants .participant .participant__role {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

label {
  color: #333333;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #333333;
  color: #f7f7f7;
  padding: 10px 20px;
  text-align: center;
}

/*# sourceMappingURL=event-page-crtr-styles.css.map */
