@charset "UTF-8";
/* Variables */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond, serif;
}

body {
  background-image: url("./backgr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7f7;
  color: #333333;
}

a {
  text-decoration: none;
  color: #bbcc00;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

/* Header */
header {
  background-color: #333333;
  color: #f7f7f7;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #bbcc00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

header a {
  color: #f7f7f7;
  margin-left: 20px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

nav ul li {
  margin-right: 20px;
  max-width: 150px; /* Максимальна ширина елементу */
  text-align: center;
  display: flex;
  justify-content: center; /* Вирівнювання по горизонталі */
  align-items: center; /* Вирівнювання по вертикалі */
  flex-direction: column; /* Змінюємо напрямок контейнера на колонку */
  height: 100%; /* Щоб елементи займали всю висоту */
}

/* Main */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Welcome */
.welcome {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

/* About */
.about {
  margin-top: 35px;
  margin-bottom: 35px;
}

.about p {
  margin-bottom: 10px;
  margin-top: 10px;
  text-indent: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  background-color: #bbcc00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-family: Garamond, serif;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.buttons a.buttons:hover {
  background-color: #8c9900;
}

/* Features */
.features {
  margin-bottom: 10px;
}

.features h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.features ul {
  list-style-type: disc;
  margin-bottom: 10px;
}

.features li {
  margin-bottom: 10px;
  padding-left: 5px;
}

/* Contact */
.contact-form {
  margin-top: 20px;
  margin: 80px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
.contact-form h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  font-family: Garamond, serif;
}
.contact-form form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.contact-form form .form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.contact-form form .form-group input,
.contact-form form .form-group textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.contact-form form .form-group input:focus,
.contact-form form .form-group textarea:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.contact-form form .form-group textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form form button[type=submit] {
  background-color: #bbcc00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-family: Garamond, serif;
  transition: all 0.2s ease-in-out;
}
.contact-form form button[type=submit]:hover {
  background-color: #8c9900;
}

/* Footer */
footer {
  background-color: #333333;
  color: #f7f7f7;
  padding: 10px 20px;
  text-align: center;
  position: static;
  bottom: 0;
}

/*# sourceMappingURL=index-styles.css.map */
